JogoDaVelhaNode-Red
[
    {
        "id": "443c539a6e906237",
        "type": "tab",
        "label": "Jogo da Velha",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3c37c558a98f88f3",
        "type": "group",
        "z": "443c539a6e906237",
        "name": "Simulação",
        "style": {
            "stroke": "#0070c0",
            "fill": "#9363b7",
            "fill-opacity": "0.15",
            "label": true,
            "label-position": "se",
            "color": "#001f60"
        },
        "nodes": [
            "a44cf5d9e080429a",
            "5320048067da2228",
            "8184da21c9510002",
            "c0e265fb7fac1a04",
            "7313eabe98d52755",
            "43bb100f65dc2370"
        ],
        "x": 154,
        "y": 299,
        "w": 172,
        "h": 290
    },
    {
        "id": "61342999f32ee4dc",
        "type": "group",
        "z": "443c539a6e906237",
        "name": "Tabuleiro",
        "style": {
            "stroke": "#6f2fa0",
            "fill": "#3f93cf",
            "fill-opacity": "0.15",
            "label": true,
            "label-position": "se",
            "color": "#3f5787"
        },
        "nodes": [
            "767e0359abcd5917",
            "64f62c3f89f0676b",
            "1fda382a6660a034",
            "389b686d682761d1",
            "4985f45cb3808c69",
            "7a8722881a23757b",
            "ca977cebc1c80bec",
            "47f765c5964811be",
            "1b1a14c84c905135",
            "f87701eab7ae0426",
            "61211a184f8e048d",
            "293ea1c3bfcd64d4",
            "1a48e2257273e97f",
            "c572ce107fac13e7",
            "6258f7c2893c371c",
            "b4d9d41695a8274d",
            "2d84154539dc39ad",
            "cf7158799a0e3275",
            "6e6bd91df88971d9",
            "d1d121cd8969cc0b",
            "84c439d3c7c5d097",
            "a45f9fc973c24760",
            "0cf6b72af7b4b67d",
            "9ed1f44ebeb59a32",
            "7962a840c1e3b6e6",
            "fa55096baadb76b6",
            "e3e3e58d0b9cabed",
            "c7aa2f25dadee287",
            "c0cb43836baa5e5c"
        ],
        "x": 634,
        "y": 59,
        "w": 672,
        "h": 770
    },
    {
        "id": "33d5a991105fc1d3",
        "type": "group",
        "z": "443c539a6e906237",
        "name": "Legenda",
        "style": {
            "stroke": "#ffC000",
            "fill": "#ffdf7f",
            "fill-opacity": "0.2",
            "label": true,
            "label-position": "se",
            "color": "#ff0000"
        },
        "nodes": [
            "736d3ae28b0c32e4",
            "1612f3b25dc9ce89"
        ],
        "x": 154,
        "y": 119,
        "w": 172,
        "h": 150
    },
    {
        "id": "4d5bcb82c07aeac8",
        "type": "group",
        "z": "443c539a6e906237",
        "name": "Jogada",
        "style": {
            "stroke": "#92d04f",
            "fill": "#c8e7a7",
            "fill-opacity": "0.15",
            "label": true,
            "label-position": "se",
            "color": "#ffC000"
        },
        "nodes": [
            "5aa69e45563503e7",
            "8f018bf88e5aad5e",
            "334399f01c4cc4a6",
            "196a37a305bdaaae"
        ],
        "x": 114,
        "y": 639,
        "w": 472,
        "h": 270
    },
    {
        "id": "a44cf5d9e080429a",
        "type": "inject",
        "z": "443c539a6e906237",
        "g": "3c37c558a98f88f3",
        "name": "Block 1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"tabuleiro\": \"000000000\"}",
        "payloadType": "str",
        "x": 250,
        "y": 340,
        "wires": [
            [
                "64f62c3f89f0676b"
            ]
        ]
    },
    {
        "id": "767e0359abcd5917",
        "type": "debug",
        "z": "443c539a6e906237",
        "g": "61342999f32ee4dc",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 380,
        "wires": []
    },
    {
        "id": "64f62c3f89f0676b",
        "type": "json",
        "z": "443c539a6e906237",
        "g": "61342999f32ee4dc",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 710,
        "y": 440,
        "wires": [
            [
                "767e0359abcd5917",
                "389b686d682761d1",
                "c7aa2f25dadee287",
                "7962a840c1e3b6e6",
                "a45f9fc973c24760",
                "6e6bd91df88971d9",
                "ca977cebc1c80bec",
                "f87701eab7ae0426",
                "1a48e2257273e97f",
                "b4d9d41695a8274d"
            ]
        ]
    },
    {
        "id": "5320048067da2228",
        "type": "inject",
        "z": "443c539a6e906237",
        "g": "3c37c558a98f88f3",
        "name": "Block 6",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"tabuleiro\": \"101202100\"}",
        "payloadType": "str",
        "x": 250,
        "y": 540,
        "wires": [
            [
                "64f62c3f89f0676b"
            ]
        ]
    },
    {
        "id": "8184da21c9510002",
        "type": "inject",
        "z": "443c539a6e906237",
        "g": "3c37c558a98f88f3",
        "name": "Block 5",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"tabuleiro\": \"110202120\"}",
        "payloadType": "str",
        "x": 250,
        "y": 500,
        "wires": [
            [
                "64f62c3f89f0676b"
            ]
        ]
    },
    {
        "id": "c0e265fb7fac1a04",
        "type": "inject",
        "z": "443c539a6e906237",
        "g": "3c37c558a98f88f3",
        "name": "Block 4",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"tabuleiro\": \"210121021\"}",
        "payloadType": "str",
        "x": 250,
        "y": 460,
        "wires": [
            [
                "64f62c3f89f0676b"
            ]
        ]
    },
    {
        "id": "7313eabe98d52755",
        "type": "inject",
        "z": "443c539a6e906237",
        "g": "3c37c558a98f88f3",
        "name": "Block 3",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"tabuleiro\": \"222222222\"}",
        "payloadType": "str",
        "x": 250,
        "y": 420,
        "wires": [
            [
                "64f62c3f89f0676b"
            ]
        ]
    },
    {
        "id": "43bb100f65dc2370",
        "type": "inject",
        "z": "443c539a6e906237",
        "g": "3c37c558a98f88f3",
        "name": "Block 2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"tabuleiro\": \"111111111\"}",
        "payloadType": "str",
        "x": 250,
        "y": 380,
        "wires": [
            [
                "64f62c3f89f0676b"
            ]
        ]
    },
    {
        "id": "1fda382a6660a034",
        "type": "ui_led",
        "z": "443c539a6e906237",
        "g": "61342999f32ee4dc",
        "order": 1,
        "group": "92b0c169102f82aa",
        "width": 2,
        "height": 2,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#56f084",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#f69c1e",
                "value": "2",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "Led 0",
        "x": 1190,
        "y": 100,
        "wires": []
    },
    {
        "id": "389b686d682761d1",
        "type": "function",
        "z": "443c539a6e906237",
        "g": "61342999f32ee4dc",
        "name": "function 1",
        "func": "msg.payload = msg.payload.tabuleiro[0];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 120,
        "wires": [
            [
                "1fda382a6660a034",
                "4985f45cb3808c69"
            ]
        ]
    },
    {
        "id": "4985f45cb3808c69",
        "type": "debug",
        "z": "443c539a6e906237",
        "g": "61342999f32ee4dc",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 140,
        "wires": []
    },
    {
        "id": "7a8722881a23757b",
        "type": "ui_led",
        "z": "443c539a6e906237",
        "g": "61342999f32ee4dc",
        "order": 2,
        "group": "92b0c169102f82aa",
        "width": 2,
        "height": 2,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#56f084",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#f69c1e",
                "value": "2",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "Led 1",
        "x": 1190,
        "y": 180,
        "wires": []
    },
    {
        "id": "ca977cebc1c80bec",
        "type": "function",
        "z": "443c539a6e906237",
        "g": "61342999f32ee4dc",
        "name": "function 2",
        "func": "msg.payload = msg.payload.tabuleiro[1];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 200,
        "wires": [
            [
                "7a8722881a23757b",
                "47f765c5964811be"
            ]
        ]
    },
    {
        "id": "47f765c5964811be",
        "type": "debug",
        "z": "443c539a6e906237",
        "g": "61342999f32ee4dc",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 220,
        "wires": []
    },
    {
        "id": "1b1a14c84c905135",
        "type": "ui_led",
        "z": "443c539a6e906237",
        "g": "61342999f32ee4dc",
        "order": 3,
        "group": "92b0c169102f82aa",
        "width": 2,
        "height": 2,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#56f084",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#f69c1e",
                "value": "2",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "Led 2",
        "x": 1190,
        "y": 260,
        "wires": []
    },
    {
        "id": "f87701eab7ae0426",
        "type": "function",
        "z": "443c539a6e906237",
        "g": "61342999f32ee4dc",
        "name": "function 3",
        "func": "msg.payload = msg.payload.tabuleiro[2];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 280,
        "wires": [
            [
                "1b1a14c84c905135",
                "61211a184f8e048d"
            ]
        ]
    },
    {
        "id": "61211a184f8e048d",
        "type": "debug",
        "z": "443c539a6e906237",
        "g": "61342999f32ee4dc",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 300,
        "wires": []
    },
    {
        "id": "293ea1c3bfcd64d4",
        "type": "ui_led",
        "z": "443c539a6e906237",
        "g": "61342999f32ee4dc",
        "order": 4,
        "group": "92b0c169102f82aa",
        "width": 2,
        "height": 2,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#56f084",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#f69c1e",
                "value": "2",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "Led 3",
        "x": 1190,
        "y": 340,
        "wires": []
    },
    {
        "id": "1a48e2257273e97f",
        "type": "function",
        "z": "443c539a6e906237",
        "g": "61342999f32ee4dc",
        "name": "function 4",
        "func": "msg.payload = msg.payload.tabuleiro[3];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 360,
        "wires": [
            [
                "293ea1c3bfcd64d4",
                "c572ce107fac13e7"
            ]
        ]
    },
    {
        "id": "c572ce107fac13e7",
        "type": "debug",
        "z": "443c539a6e906237",
        "g": "61342999f32ee4dc",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 380,
        "wires": []
    },
    {
        "id": "6258f7c2893c371c",
        "type": "ui_led",
        "z": "443c539a6e906237",
        "g": "61342999f32ee4dc",
        "order": 5,
        "group": "92b0c169102f82aa",
        "width": 2,
        "height": 2,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#56f084",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#f69c1e",
                "value": "2",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "Led 4",
        "x": 1190,
        "y": 420,
        "wires": []
    },
    {
        "id": "b4d9d41695a8274d",
        "type": "function",
        "z": "443c539a6e906237",
        "g": "61342999f32ee4dc",
        "name": "function 5",
        "func": "msg.payload = msg.payload.tabuleiro[4];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 440,
        "wires": [
            [
                "6258f7c2893c371c",
                "2d84154539dc39ad"
            ]
        ]
    },
    {
        "id": "2d84154539dc39ad",
        "type": "debug",
        "z": "443c539a6e906237",
        "g": "61342999f32ee4dc",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 460,
        "wires": []
    },
    {
        "id": "cf7158799a0e3275",
        "type": "ui_led",
        "z": "443c539a6e906237",
        "g": "61342999f32ee4dc",
        "order": 6,
        "group": "92b0c169102f82aa",
        "width": 2,
        "height": 2,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#56f084",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#f69c1e",
                "value": "2",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "Led 5",
        "x": 1190,
        "y": 500,
        "wires": []
    },
    {
        "id": "6e6bd91df88971d9",
        "type": "function",
        "z": "443c539a6e906237",
        "g": "61342999f32ee4dc",
        "name": "function 6",
        "func": "msg.payload = msg.payload.tabuleiro[5];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 520,
        "wires": [
            [
                "cf7158799a0e3275",
                "d1d121cd8969cc0b"
            ]
        ]
    },
    {
        "id": "d1d121cd8969cc0b",
        "type": "debug",
        "z": "443c539a6e906237",
        "g": "61342999f32ee4dc",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 540,
        "wires": []
    },
    {
        "id": "84c439d3c7c5d097",
        "type": "ui_led",
        "z": "443c539a6e906237",
        "g": "61342999f32ee4dc",
        "order": 7,
        "group": "92b0c169102f82aa",
        "width": 2,
        "height": 2,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#56f084",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#f69c1e",
                "value": "2",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "Led 6",
        "x": 1190,
        "y": 580,
        "wires": []
    },
    {
        "id": "a45f9fc973c24760",
        "type": "function",
        "z": "443c539a6e906237",
        "g": "61342999f32ee4dc",
        "name": "function 7",
        "func": "msg.payload = msg.payload.tabuleiro[6];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 600,
        "wires": [
            [
                "84c439d3c7c5d097",
                "0cf6b72af7b4b67d"
            ]
        ]
    },
    {
        "id": "0cf6b72af7b4b67d",
        "type": "debug",
        "z": "443c539a6e906237",
        "g": "61342999f32ee4dc",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 620,
        "wires": []
    },
    {
        "id": "9ed1f44ebeb59a32",
        "type": "ui_led",
        "z": "443c539a6e906237",
        "g": "61342999f32ee4dc",
        "order": 8,
        "group": "92b0c169102f82aa",
        "width": 2,
        "height": 2,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#56f084",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#f69c1e",
                "value": "2",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "Led 7",
        "x": 1190,
        "y": 660,
        "wires": []
    },
    {
        "id": "7962a840c1e3b6e6",
        "type": "function",
        "z": "443c539a6e906237",
        "g": "61342999f32ee4dc",
        "name": "function 8",
        "func": "msg.payload = msg.payload.tabuleiro[7];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 680,
        "wires": [
            [
                "9ed1f44ebeb59a32",
                "fa55096baadb76b6"
            ]
        ]
    },
    {
        "id": "fa55096baadb76b6",
        "type": "debug",
        "z": "443c539a6e906237",
        "g": "61342999f32ee4dc",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 700,
        "wires": []
    },
    {
        "id": "e3e3e58d0b9cabed",
        "type": "ui_led",
        "z": "443c539a6e906237",
        "g": "61342999f32ee4dc",
        "order": 9,
        "group": "92b0c169102f82aa",
        "width": 2,
        "height": 2,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#56f084",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#f69c1e",
                "value": "2",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "Led 8",
        "x": 1190,
        "y": 740,
        "wires": []
    },
    {
        "id": "c7aa2f25dadee287",
        "type": "function",
        "z": "443c539a6e906237",
        "g": "61342999f32ee4dc",
        "name": "function 9",
        "func": "msg.payload = msg.payload.tabuleiro[8];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 760,
        "wires": [
            [
                "e3e3e58d0b9cabed",
                "c0cb43836baa5e5c"
            ]
        ]
    },
    {
        "id": "c0cb43836baa5e5c",
        "type": "debug",
        "z": "443c539a6e906237",
        "g": "61342999f32ee4dc",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 780,
        "wires": []
    },
    {
        "id": "736d3ae28b0c32e4",
        "type": "ui_button",
        "z": "443c539a6e906237",
        "g": "33d5a991105fc1d3",
        "name": "",
        "group": "9a540655b85c2f29",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Jogador 1",
        "tooltip": "",
        "color": "#2bb153",
        "bgcolor": "#56f084",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 240,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "1612f3b25dc9ce89",
        "type": "ui_button",
        "z": "443c539a6e906237",
        "g": "33d5a991105fc1d3",
        "name": "",
        "group": "9a540655b85c2f29",
        "order": 4,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Jogador 2",
        "tooltip": "",
        "color": "#cc5f05",
        "bgcolor": "#f69c1e",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 240,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "5aa69e45563503e7",
        "type": "ui_text_input",
        "z": "443c539a6e906237",
        "g": "4d5bcb82c07aeac8",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "c9025292e4a01f7b",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 200,
        "y": 680,
        "wires": [
            [
                "196a37a305bdaaae"
            ]
        ]
    },
    {
        "id": "8f018bf88e5aad5e",
        "type": "ui_button",
        "z": "443c539a6e906237",
        "g": "4d5bcb82c07aeac8",
        "name": "",
        "group": "c9025292e4a01f7b",
        "order": 3,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Enviar",
        "tooltip": "",
        "color": "Darkgreen",
        "bgcolor": "#54b063",
        "className": "",
        "icon": "",
        "payload": "jogada",
        "payloadType": "flow",
        "topic": "topic",
        "topicType": "msg",
        "x": 390,
        "y": 800,
        "wires": [
            [
                "334399f01c4cc4a6"
            ]
        ]
    },
    {
        "id": "334399f01c4cc4a6",
        "type": "debug",
        "z": "443c539a6e906237",
        "g": "4d5bcb82c07aeac8",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 860,
        "wires": []
    },
    {
        "id": "196a37a305bdaaae",
        "type": "change",
        "z": "443c539a6e906237",
        "g": "4d5bcb82c07aeac8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "jogada",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 740,
        "wires": [
            [
                "8f018bf88e5aad5e"
            ]
        ]
    },
    {
        "id": "7048fe3a86e1467f",
        "type": "ui_spacer",
        "z": "443c539a6e906237",
        "name": "spacer",
        "group": "9a540655b85c2f29",
        "order": 2,
        "width": 2,
        "height": 1
    },
    {
        "id": "7776dc0901719d99",
        "type": "ui_spacer",
        "z": "443c539a6e906237",
        "name": "spacer",
        "group": "9a540655b85c2f29",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "4cf3e354e2d28fa4",
        "type": "ui_spacer",
        "z": "443c539a6e906237",
        "name": "spacer",
        "group": "c9025292e4a01f7b",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "92b0c169102f82aa",
        "type": "ui_group",
        "name": "Tabuleiro",
        "tab": "869d41bd477770bb",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "9a540655b85c2f29",
        "type": "ui_group",
        "name": "Legenda",
        "tab": "869d41bd477770bb",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "c9025292e4a01f7b",
        "type": "ui_group",
        "name": "Jogada",
        "tab": "869d41bd477770bb",
        "order": 3,
        "disp": true,
        "width": 9,
        "collapse": false,
        "className": ""
    },
    {
        "id": "869d41bd477770bb",
        "type": "ui_tab",
        "name": "Jogo da Velha",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]
